body {
    /* Background pattern from subtlepatterns.com */
    background-image: url("/seigaiha.png");
    background-attachment: fixed;
}

nav, .navbar-fixed, .nav-wrapper i {
    height: 56px !important;
    line-height: 56px !important;
}

.nav-wrapper {
    font-family: "Varela Round", "Roboto", sans-serif;
    padding-left: 1rem;
    padding-right: 1rem;
}

h3, h4 {
    font-family: "Varela Round", "Roboto", sans-serif;
}

h3 {
    color: #2196F3;
}

.input-field input[type=text]:focus + label {
    color: #2196f3 !important;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #2196f3 !important;
}

#content {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.alert {
    max-width: 30rem;
    margin: auto;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 3px;
    background-color: #F44336;
    color: white;
}

@media screen and (max-width: 600px) {
    .nav-wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }

    #nav-mobile > li > a {
        padding-left: 5px;
        padding-right: 5px;
    }
}

