html, body, #content {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

.map-overlay {
    position: absolute;
    background-color: rgba(84, 110, 122, 0.9);
    color: white;
    max-width: 40%;
    max-height: 40%;
    height: 40%;
}

#purchase-history {
    bottom: 0;
    left: 10px;
}

#purchase-history .collection {
    max-height: 80%;
    overflow-y: auto;
}

#purchase-history .purchase-item, #recommendations .merchant-item {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

#purchase-history .purchase-item .merchant-name, #recommendations .collection .merchant-item {
    color: white;
}

#purchase-history .purchase-item .purchase-date {
    color: #ECEFF1;
}

#purchase-history .purchase-item .purchase-amount {
    color: #00E676;
}

#recommendations {
    bottom: 0;
    right: 10px;
}
