{% extends "layout.html" %}


{% block subtitle %} | Login{% endblock %}

{% block content %}
{{ super() }}
<div id="hero-wrapper">
        <div class="animation-group">
            <h3 id="welcome-text" class="center-align">Welcome to our Capital One hack</h3>
        </div>
        <div class="animation-group">
            <p class="center-align">
                We have done some cool stuff
        </div>
        <div class="animation-group">
            <p class="center-align">
                Enter your name
            </p>
            <!-- Coordinates search form -->
            <div class="row">
                <form id="search-form" action="/profile" method="GET">
                    <div class="col s12 m10 offset-m1 l8 offset-l2">
                        <div class="input-field col s6">
                            <input name="firstname" id="" type="text" class="validate">
                            <label>First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input name="lastname" id="" type="text" class="validate">
                            <label>Last Name</label>
                        </div>
                        <input type="submit" class="btn">
                    </div>
                </form>
            </div>
          </div>
</div>
{% endblock %}
