{% extends "layout.html" %}

{% block subtitle %} | Map{% endblock %}

{% block head %}
    {{ super() }}
    <link href="/css/map.css" type="text/css" rel="stylesheet" />
    <script src="/js/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?{{ "key=" + mapsKey + "&" if mapsKey else "" }}callback=initMap" async defer></script>
{% endblock %}

{% block content %}
    <div id="map"></div>
    <div id="purchase-history" class="map-overlay card-panel">
        <ul class="collection">
            {% for purchase in purchase_history %}
            <li class="collection-item">{{ purchase["purchase_date"] }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
