{% extends "layout.html" %}

{% block subtitle %} | Map{% endblock %}

{% block head %}
    {{ super() }}
    <link href="/css/map.css" type="text/css" rel="stylesheet" />
    <script src="/js/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?{{ "key=" + mapsKey + "&" if mapsKey else "" }}callback=initMap" async defer></script>
{% endblock %}

{% block content %}
    <div id="map"></div>
    <div id="purchase-history" class="map-overlay card-panel">
        <h4>Recent Purchases</h4>
        <div class="collection">
            {% for purchase in purchase_history %}
            <a href="#!" class="collection-item purchase-item">
                <div style="display:none">{{ purchase["geocode"] }}</div>
                <h5 class="merchant-name">{{ purchase["merchant_name"] }}</h5>
                <div class="purchase-date">{{ purchase["purchase_date"] }}</div>
            </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
